.node {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    
}

.node-start {
    background-color: green;
}

.node-end {
    background-color: red;
}

.node-wall {
  background-color: #212121;
}

.node-visited {
    animation-name: visitedAnimation;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }
  
  @keyframes visitedAnimation {
    0% {
      transform: scale(0.6);
      background-color: rgb(95, 158, 160);
    }
  
    50% {
      transform: scale(1.2);
      background-color: rgb(95, 158, 160);
    }
  
    100% {
      transform: scale(1);
      background-color: rgb(95, 158, 160);
    }
  }

  .node-path {
    animation-name: pathAnimation;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }
  
  @keyframes pathAnimation {
    0% {
      transform: scale(0.6);
      background-color: yellow;
    }
  
    50% {
      transform: scale(1.2);
      background-color: yellow;
    }
  
    100% {
      transform: scale(1);
      background-color: yellow;
    }
  }

.rowContainer {
    display: flex;
}

.container {
    margin: auto;
    text-align: center;
    width: 50%;
    padding: 10px;
    margin-top: 30px;
}